
#img1 {
  width: 20%;
}


#img2 {
  width: 20%;
}
#navbar-link {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

#headlineInstruction {
  text-align: center;
  font-size: 36px;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}
h1 {
  font-family: 'Oswald', sans-serif;
}

.article {
  width: 50%;
}

.btn-secondary {
  position: relative;
  right: 0px;
  bottom: 0px;
  float: bottom;
  float: right;
}

body {
  height: 100%;
  margin-right: 24px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  width: auto;
  margin: 1rem;
  position: relative;
  padding: 10px;
  animation: fadein 5.00s ease-out normal backwards;
}

.card-hover :hover {
  /* Card hovers when mouse moves over it */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.reason-container {
  display: none;
  margin: 16px auto;
  width: 70%; 
}


#myFooter {
  background-color: #8a8a8a;
  color: white;
  bottom: 0;
  margin-block-end: 0%;
  position: relative;
  transition: bottom 1000ms linear;
}

#myFooter .row {
  margin-bottom: 0px;
}

#myFooter .info {
  text-align: justify;
  color: #afb0b1;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter .logo {
  margin-top: 10px;
}

#myFooter .second-bar .logo a {
  color: white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center;
}

#myFooter .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px;
}

#myFooter .second-bar a:hover {
  text-decoration: none;
}

#myFooter .social-icons {
  float: right;
}


#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }

  #myFooter .info {
    text-align: center;
  }
}